.footer {
    padding: 60px 0 70px;
    @include media-mobile {
        padding: 31px 0;
    }
  
}

.footer__wrapper {
    display: flex;
    @include media-tablet {
        flex-direction: column;
    }
    .logo {
        display: inline-block;
    }
}

.footer-navigation {
    flex-grow: 1;
    padding-left: 152px;
    @include media-tablet {
        padding-left: 0;
        margin-top: 34px;
    }
    @include media-mobile {
        flex-direction: column;
    }
}

.footer-navigation__title {
    margin: 0 0 15px 0;
    font-size: 2rem;
}

.footer-navigation__links {
    padding: 0;
    list-style-type: none;
    @extend %font-add;
    a {
        text-decoration: none;
        color: $color-text;
        line-height: 3.5rem;
        @extend %transition;
        &:hover {
            color: $color-primary;
        }
    }
}