.footer {
    padding: 60px 0 70px;
}

.footer__wrapper {
    display: flex;
}

.footer-navigation {
    flex-grow: 1;
    padding-left: 152px;
}

.footer-navigation__title {
    margin: 0 0 15px 0;
    font-size: 2rem;
}

.footer-navigation__links {
    padding: 0;
    list-style-type: none;
    @extend %font-add;
    a {
        text-decoration: none;
        color: $color-text;
        line-height: 3.5rem;
        @extend %transition;
        &:hover {
            color: $color-primary;
        }
    }
}