html {
    font-size: 10px;
}

body {
    @include font($size: 1.6rem, $height: 2.6rem, $weight: normal);
    @extend %font-prim;
}

h1 {
    @extend %font-add;
    @include font($size: 4.4rem, $height: 5.4rem);
    @include media-mobile {
        @include font($size: 3.2rem, $height: 4.2rem);
    }
}

h2 {
    @include font($height: 4.6rem, $size: 3.4rem);
    @include media-mobile {
        @include font($size: 2.4rem, $height: 3.3rem);
    }
}

h3 {
    @include font($size: 2.4rem, $height: 3.4rem);
    @include media-mobile {
        @include font($size: 2.1rem, $height: 3.1rem);
    }
}

h4 {
    @include font($size: 2.2rem, $height: 3rem, $weight: 600);
    @include media-tablet {
        @include font($size: 2rem, $height: 3rem);
    }
}

h5 {
    @include font(1.6rem, 2.6rem);
}

.block-shadowed {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}